@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #a7c0cd;
}
strong {
    font-weight: 900;
}
h1, h2 {
    font-family: 'Dosis', 'sans-serif';
}
header {
    margin-bottom: 20px;
}

/* navigation bar desktop */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #1c313a;
}
#logo {
    font-size: 240%;
    font-weight: 300;
    font-family: 'Dosis', 'sans-serif';
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    color: rgb(241, 241, 241);
}
.nav-links li a {
    color: rgb(241, 241, 241);
    text-decoration: none;
    letter-spacing: 4px;
}
.burger {
    display: none;
}
.burger div {
    margin: 5px;
    width: 25px;
    height: 2px;
    background-color: rgb(241, 241, 241);
}
.nav-links li a:hover{
    border-bottom: 1px solid rgb(241, 241, 241);
    cursor: pointer;
}
.active {
    border-bottom: 1px solid rgb(241, 241, 241);
}

/* navigation bar mobile */

@media screen and (max-width: 875px) {
    #logo {
    font-size: 215%;
    font-weight: 300;
    font-family: 'Dosis', 'sans-serif';
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    letter-spacing: 1px;
    }
    .nav-links {
        right: 0px;
        position: absolute;
        width: 20%;
        height: 100vh;
        top: 10vh;
        background-color: #1c313a; 
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    body {
        overflow-x: hidden;
    }
    .nav-links li {
        opacity: 1;
    }
    .burger {
        display: block;
        cursor: pointer;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
    }
}

/* timeline mobile */

#timeline {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.timeline-container ul li div h1 {
    margin-bottom: 0px;
    font-size: 38px;
    font-weight: 300;
    line-height: 40px;
}
.timeline-container {
    max-width: 700px;
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}
.timeline-container ul {
    list-style-type: none;
}
.timeline-container ul li {
    padding: 12px 15px 12px 15px;
    background-color: #808e95;
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
}
.timeline-container ul li h1 {
    margin-bottom: 8px;
    text-align:  center;
    line-height: px;
}
.content, .right, .left, h1 {
    padding-bottom: 15px;
    font-size: 180%;
}
.content .right, .left, p {
    font-size: 16px;
    line-height: 20px;
}
.content, .left, .right, a {
    color: #1c313a;
}
.content, .left, .right, a:hover {
    color: white;
}
i {
    margin-left: 5px;
    padding: 0;
}

/*index mobile screen optimisation*/
@media only screen and (max-width: 875px) {
    .image {
        display: none;
    }
}


/*timeline desktop */

@media only screen and (min-width: 875px) {
    #timeline {
        margin-top: 55px;
    }
    .timeline-container::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: #808e95;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline-container ul li {
        width: 50%;
        position: relative;
    }
    .date {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    img {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
    .copyright {
        opacity: 0.5;
        font-size: x-small;
        margin-top: 0 auto;
    }
    div .content, .right {
        padding: 0;
    }
    .timeline-container ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-25px);
        border-radius: 5px 0px 5px 5px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .timeline-container ul li:nth-child(even) {
        float: right;
        transform: translateX(25px);
        border-radius: 0px 5px 5px 5px;
        margin-bottom: 64px;
    }
    .timeline-container ul li:nth-child(even)::after {
        transform: translate(-50%, 50%);
        left: -25px;
    }
    .timeline-container ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -25px;
    }

/* pointer on content box*/

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 0px;
        width: 0;
        right: -10px;
        border: solid #808e95;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #808e95;
    }
    .right::before {
        content: '';
        height: 0;
        position: absolute;
        top: 0;
        width: 0;
        left: -10px;
        border: solid #808e95;
        border-width: 10px 10px 10px 0px;
        border-color: transparent #808e95 transparent;
    }
}

/* gallery timeline */
@media only screen and (min-width: 874px) {
    .invention {
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .mobile-info {
        display: none;
    }
    .gallery-date {
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
}

/* gallery timeline mobile & tablet screen optimisation*/ 
@media only screen and (max-width: 874px) {
    .gallery-image div img {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }
    .invention {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .copyright {
        opacity: 0.5;
        font-size: x-small;
        margin-top: 0 auto;
    }
    .content-left {
        display: none;
    }
    .mobile-info {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .gallery-date {
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
}

/*footer*/

footer {
    bottom: 0;
    width: 100%;
    margin-top: 20px;
   }
footer ul {
    background-color: #1c313a;
    height: 80px;
}
#social-media {
      text-align: center;
   }
#social-media li {
       display: inline;
   }
#social-media i {
       font-size: 200%;
       margin: 25px 45px 25px 45px;
       color: rgb(226, 226, 226);
    }

/*sign-up*/